.resetPassScreenContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background: #001726;
  margin-bottom: -20%;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.logo {
  width: 200px;
  height: 200px;
}

.welcome {
  font-size: 30px;
}

@media (min-width: 375px) {
  .resetPassScreenContainer {
    padding-top: 10%;
  }
  .logo {
    margin-bottom: -10%;
  }
  .welcome {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  .termsAndLinkContainer {
    font-size: 0.8rem;
  }
}

@media (min-width: 412px) {
  .resetPassScreenContainer {
    padding-top: 10%;
  }
  .logo {
    margin-bottom: -10%;
  }
  .welcome {
    margin-top: 3%;
    font-size: 1.5rem;
  }
  .termsAndLinkContainer {
    font-size: 0.8rem;
  }
}

@media (min-width: 600px) {
  .resetPassScreenContainer {
    padding-top: 5%;
  }
  .logo {
    margin-bottom: -10%;
  }
  .welcome {
    margin-top: 9%;
    font-size: 2.4rem;
  }
}

@media (min-width: 800px) {
  .resetPassScreenContainer {
    padding-top: 5%;
  }
  .logo {
    margin-bottom: -10%;
  }
  .welcome {
    margin-top: 9%;
    font-size: 2.2rem;
  }
}
