

.trigger {
  display: flex;
  width: 40%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: .4rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}


.dropdown_inside_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5  px;
  span {
    border-radius: 20px;
    padding: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: small;
  }
}

.label {
  margin: 0 0.5rem;
}

.icon {
  font-size: 1rem;
  color: #606A7B;
}

.content {
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}
