.screen_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #F8F9FA;

}

.container_act {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-left: 2%;
  margin-top: 1%;
}

.container_main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.title {
  margin-bottom: 1rem;
}

.input_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.input_component {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.button_component {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #5a5a5a;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: #4a4a4a;
  }

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
}

.div_Subfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
